<section class="section brands py-5" id="brands">
  <div class="container">
    <div class="row">
      {{ with .content.title }}
        <div class="col-12">
          <h3 class="fs-5 fw-semibold text-primary text-center pb-4">{{ . }}</h3>
        </div>
      {{ end }}
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col px-3 my-2 text-center">
        <img class="" src="images/university-logo.webp" alt="images/university-logo.webp" width="150" height="auto">
      </div>
      <div class="col px-3 my-2 text-center">
        <img class="" src="images/NPOD_logo.webp" alt="images/NPOD_logo.webp" width="450" height="auto">
      </div>
    </div>
  </div>
</section>
